/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --typewriterSpeed: 5s;
  --CharLength: 25;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  overflow-x: hidden;
  font-family: "Alegreya SC", serif;
}

nav {
  background-color: rgb(221, 193, 150);
  height: 10vh;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.logo h1 {
  font-size: 1.8rem;
  text-align: center;
  padding-left: 1.5rem;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: #000;
}

#navToggler {
  padding-right: 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(201, 169, 122);
  height: 90vh;
  transform: translateX(100%);
  transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav-active {
  transform: translateX(0%);
}

.nav-link {
  list-style: none;
  opacity: 0;
}

.nav-link a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  line-height: 4rem;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
}

.nav-link a:after {
  content: "";
  position: absolute;
  background-color: rgb(48, 42, 35);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-link a:hover:after {
  width: 100%;
}

.nav-link a:hover {
  letter-spacing: 3px;
}

.main-header {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-tittle {
  position: relative;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  /* width: max-content; */
  z-index: -1;
}

.main-tittle::before,
.main-tittle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-tittle::before {
  background-color: burlywood;
  animation: typewriter var(--typewriterSpeed) steps(var(--CharLength)) forwards;
}

.main-tittle::after {
  content: "";
  width: 2px;
  height: 90%;
  background-color: black;
  animation: typewriter var(--typewriterSpeed) steps(var(--CharLength)) forwards,
    blink 500ms steps(var(--CharLength)) infinite;
}

.h-disc {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  transform: translateY(30px);
  opacity: 0;
  z-index: -1;
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 300ms) forwards;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .main-tittle {
    font-size: 3rem;
  }
  .h-disc {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

/* 
  ##Device = Laptops, Desktops, Tablets, Ipads (landscape)
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 961px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    flex-direction: row;
    transform: translateX(0%);
    height: auto;
    background-color: transparent;
    margin-right: 1rem;
  }
  #navToggler {
    display: none;
  }
  .nav-link {
    opacity: 1;
    margin: 0 1.2rem;
  }
  .nav-link a {
    padding: 0 2px;
  }
  .logo h1 {
    font-size: 1.8rem;
  }
  .main-tittle {
    font-size: 2.7rem;
  }
  .h-disc {
    font-size: 2rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 500px) {
  .logo h1 {
    font-size: 1.6rem;
  }
  #navToggler {
    font-size: 1.6rem;
  }
  .main-tittle {
    font-size: 1.4rem;
  }
  .h-disc {
    font-size: 1.1rem;
    margin-top: 2.5rem;
  }
}

@media (max-width: 360px) {
  .logo h1 {
    font-size: 1.4rem;
  }
  #navToggler {
    font-size: 1.4rem;
  }
  .main-tittle {
    font-size: 1.05rem;
  }
  .h-disc {
    font-size: 0.9rem;
    margin-top: 2.05rem;
  }
}

/*Animations*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(70px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
